*{
    margin: 0;
    padding: 0;
    background-origin: border-box;
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.navigation-dots{
    position: fixed;
    top: 10px;
    right: 10px;
}

.navigation-dots>a{
    text-decoration: none;
}

.navigate-dot{
    margin: 5px;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    border: 5px solid #2A4554;
}

.top{
    background-image: url('./assets/top.png');
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    width: 100%;
}

nav{
    padding: 20px;
    font-size: 24px;
    letter-spacing: 4px;
    position: fixed;
    color: white;
}


.mainHead{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.herotag{
    font-size: 124px;
    letter-spacing: 4px;
    color: #2A4554;
}

.font-normal{
    font-weight: normal;
    margin-right: 15px;
}

.font-dark{
    font-weight: 900;
    margin-left: 15px;
}

.middle{
    background-image: url('./assets/middle2.jpg');
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    width: 100%;
}

.mainMiddelContainer{
    min-height: 110vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.techButtons{
    width: 50%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    min-width: 400px;
}

.projects-head{
    color: white;
    margin-left: 30px;
}

.projectDetails{
    width: 50%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    min-width: 400px;
    background-color: red;
}

.project-buttons{
    padding: 10px 20px;
    font-size: 34px;
    font-weight: bold;
    border-radius: 100px;
    width: 320px;
    margin: 15px 20px;
    cursor: pointer;
    background-color: #B5BEC7;
}

.projectDetails{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: 100vh;
    width: 50%;
    background-color: transparent;
}

.projectDetail{
    /* background-color: red; */
    background-image: linear-gradient(130deg,
                            rgba(61, 61, 61, 0.505),
                            rgba(109, 109, 109, 0.57)
                            );
    min-height: 50vh;
    width: 70%;
    margin: 20px 200px;
    border-radius: 15px;
    padding: 15px;
    
    /* background: rgba(78, 78, 78, 0.4); */
    box-shadow: 0 8px 32px 0 rgba(13, 43, 57, 0.37);
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 2.5px );
    border-radius: 10px;
    border: 1px solid rgba(97, 97, 97, 0.18);
    color: white;
}

#typedtext{
font-family: 'Waiting for the Sunrise', cursive; 
font-size:24px; 
margin: 10px; 
/* margin: 10px 50px;  */
letter-spacing: 6px; 
font-weight: bold;
}

.blinking{
    /* transition: all ease 0.1s; */
    animation: blink 0.5s infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes blink {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

/* .projectsIcons{

} */

.projectsIcons>a{
    text-decoration: none;
}

.projectsIcon{
    width: 40px;
    cursor: pointer;
    margin-top: 20px;
    opacity: 0;
    transform: translateX(100px);

    transition: all ease 0.1s;
    animation: projectIconAnim 0.5s 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

.anim-dalay-1s{
    animation-delay: 0.4s;
}

.anim-dalay-2s{
    animation-delay: 0.9s;
}

@keyframes projectIconAnim {
    from{
        opacity: 0;
        transform: translateY(50px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}


/* SECTION 3 STARTS FROM HERE.... */
/* SECTION 3 STARTS FROM HERE.... */
/* SECTION 3 STARTS FROM HERE.... */

.bottom{
    background-image: url('./assets/bottom.png');
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.bottom>div{
    flex: 1;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    margin: 10px 10%;
    margin-top: 150px;
}

.skills, .resume, .about-me{
    margin-bottom: 40px;
}

.skills>h4, .resume>h4, .about-me>h4{
    color: white;
    font-size: 44px;
}
.skills>p, .resume>p, .about-me>p{
    color: white;
    margin: 3px 40px;
    font-size: 20px;
}

.about-me>p{
    margin-right: 0;
}

.social-links{
    margin: 20px;
}

.social-links>a{
    text-decoration: none;
}

.social-links>a>img{
    height: 28px;
    margin-left: 5px;
}

.hire-me-btn{
    padding: 10px 60px;
    font-size: 34px;
    font-weight: bold;
    border-radius: 100px;
    /* width: 320px; */
    margin: 15px 20px;
    cursor: pointer;
    background-color: #B5BEC7;
    text-decoration: none;
    color: #2A4554;
}

.resume-more-btn{
    width: 35px;
}